.faction {
  display: flex;
  height: 100%;

  .list {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 0 20px;

    .listContent {
      display: flex;
      flex-direction: column;

      .item {
        color: #fff;
        font-family: 'CommonFont';
        font-size: 36px;
        min-width: 450px;
        width: 450px;
        margin-bottom: 25px;
        border-bottom: 4px solid #fff;
        cursor: pointer;

        &:hover {
          color: #007bff;
          font-weight: bold;
        }

        // .title {
        //   margin-right: 20px;
        // }
        .title {
          // 原有样式...
          transform: translateX(0px); // 使用transform实现平滑移动
          transition: all 0.3s ease;
        }

        .subTitle {
          font-size: 24px;
        }
      }

      .item-selected {
        .title {
          margin-left: 40px;
          transform: translateX(10px); // 使用transform实现平滑移动
          transition: all 0.3s ease;
        }
      }
    }

  }

  .rightContent {
    flex: 2;
  }
}

.floatingImage {
  pointer-events: none; // 防止图片干扰鼠标事件
  position: fixed;
  z-index: 1;

  img {
    width: 40vh;
  }
}

.floatingImageCard {
  pointer-events: none; // 防止图片干扰鼠标事件
  position: fixed;
  z-index: 1;

  img {
    width: 300px;
  }
}


.rightContent {
  width: 70%;
  max-width: 70%;
  padding: 20px;

  .contentWrapper {
    position: relative;
    display: contents;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    font-family: XiangSuFont;
    width: 95%;
    margin-top: calc(50vh - 300px);
    font-size: 24px;

    p {
      margin-bottom: 20px;
      opacity: 0;
      transform: translateX(50px);
      animation: textEnter 0.6s forwards;
      background-color: #3734349e;
      padding: 5px 10px;
      border-radius: 4px;

      &.exit {
        animation: textExit 0.6s forwards;
      }
    }
  }

  .cardContent {
    width: 95%;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;

    img {
      width: 150px;
      height: auto;
      margin-bottom: 20px;
      opacity: 0;
      transform: rotate(var(--rotation-angle)) translateY(100px) scale(0.5);
      animation: cardEnter 0.8s forwards;

      &.exit {
        animation: cardExit 0.6s forwards;
      }
    }
  }
}

@keyframes textEnter {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes textExit {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

@keyframes cardEnter {
  0% {
    opacity: 0;
    transform: rotate(var(--rotation-angle)) translateY(100px) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0) scale(1);
  }
}

@keyframes cardExit {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: rotate(calc(var(--rotation-angle) * -1)) translateY(100px) scale(0.5);
  }
}