.faction {
  display: flex;
  height: 100%;

  .list {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;

    .listContent {
      display: flex;
      flex-direction: column;

      .item {
        color: #fff;
        font-family: 'CommonFont';
        font-size: 36px;
        min-width: 450px;
        width: 450px;
        margin-bottom: 25px;
        border-bottom: 4px solid #fff;
        cursor: pointer;

        &:hover {
          color: #007bff;
          font-weight: bold;
        }

        // .title {
        //   margin-right: 20px;
        // }
        .title {
          // 原有样式...
          transform: translateX(0px); // 使用transform实现平滑移动
          transition: all 0.3s ease;
        }

        .subTitle {
          font-size: 24px;
        }
      }

      .item-selected {
        .title {
          margin-left: 40px;
          transform: translateX(10px); // 使用transform实现平滑移动
          transition: all 0.3s ease;
        }
      }
    }

  }

  .content {
    flex: 2;
  }
}

.floatingImage {
  pointer-events: none; // 防止图片干扰鼠标事件
  position: fixed;
  z-index: 1;

  img {
    width: 500px;
    height: 500px;
  }
}