.faction {
  display: flex;
  height: 100%;

  .list {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;

    .listContent {
      display: flex;
      flex-direction: column;

      .item {
        color: #fff;
        font-family: 'CommonFont';
        font-size: 36px;
        min-width: 450px;
        width: 450px;
        margin-bottom: 25px;
        border-bottom: 4px solid #fff;

        &.item-selected {
          background-color: #007bff;
          font-weight: bold;
        }

        // .title {
        //   margin-right: 20px;
        // }
        .title {
          // 原有样式...
          transition: color 0.3s ease;

          &.titleHover {
            color: #007bff; // 高亮颜色，可根据需要调整
            font-weight: bold;
          }
        }

        .subTitle {
          font-size: 24px;
        }
      }
    }

  }

  .content {
    flex: 2;
  }
}

.floatingImage {
  pointer-events: none; // 防止图片干扰鼠标事件
  position: fixed;
  z-index: 1;

  img {
    width: 500px;
    height: 500px;
  }
}