.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none; // 隐藏 Webkit 浏览器的滚动条
  }

  -ms-overflow-style: none; // 隐藏 IE 浏览器的滚动条
  scrollbar-width: none; // 隐藏 Firefox 浏览器的滚动条
}

.imageWrapper {
  height: fit-content;
  width: 48%;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  border-radius: 8px;
  margin: 20px;
}

.imageHover {
  border-color: #1890ff;
  box-shadow: 0 4px 12px rgba(24, 144, 255, 0.3);
  transform: translateY(-2px);
}