.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}

.imageWrapper {
  width: 48%;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  border-radius: 8px;
  margin: 20px;
}

.imageHover {
  border-color: #1890ff;
  box-shadow: 0 4px 12px rgba(24, 144, 255, 0.3);
  transform: translateY(-2px);
}