.layout {
  .layout-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 85px;
    // background-image: linear-gradient(0deg,
    //     rgba(0, 0, 0, 0.3),
    //     rgba(0, 0, 0, 0.6),
    //     rgba(0, 0, 0, 0.8));
    align-items: center;
    background-color: #000;

    .logo-img {
      height: 80px;
    }

    .layout-tab-title {
      font-family: 'CommonFont';
      color: #fff;
    }

    .ant-tabs-nav::before,
    div>.ant-tabs-nav::before {
      border-width: 0;
    }

    .ant-tabs-ink-bar {
      background: #094eae;
    }
  }

  .layout-contain {
    height: calc(100vh - 85px);
  }

  .layout-footer {
    position: relative;
    background: #141516;
    height: 100px;
    font-family: 'CommonFont';

    .layout-footer-logo {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 150px;
    }

    .layout-beian {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;

      .layout-beian-row {
        display: flex;
        align-items: center;

        .layout-beian-img {
          width: 20px;
          height: 20px;
        }
      }

      a {
        color: #fff;
      }
    }

    .layout-developer {
      text-align: center;
      color: #fff;
    }

    .layout-version {
      text-align: center;
      color: #fff;
    }
  }
}

.layout-bg {
  height: calc(100vh - 85px);
  position: absolute;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.bg-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.bg-slide-prev {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.bg-slide-current {
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.fade-out {
  opacity: 0 !important;
}

.slide-in-left {
  animation: slideInLeft 0.5s forwards;
}

.slide-in-right {
  animation: slideInRight 0.5s forwards;
}

.layout-inner {
  position: relative;
  z-index: 2;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}